// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark-body: #121212;

// Custom Colors
$alert: #ffd886;
$success: #86c148;
$spanAlert: #e4c921;
$success: #86c148;

// Fonts

$font-path: '../fonts/';
$fontColor-green: #86c60b;
$computer: "Computer", Courier New;
$shadow-green: 0 0 5px rgba(134, 198, 11, 0.60);
$sizeDefault: 1.25em;

@font-face {
  font-family: "Computer";
  font-weight: normal;
  src: url("#{$font-path}clacon.ttf");
}