@font-face {
  font-family: "Computer";
  font-weight: normal;
  src: url(/fonts/clacon.ttf?f2f97095d1105880c85067557fb1e311);
}

body p {
  line-height: 1;
}

a {
  font-family: "Computer", Courier New;
  color: #86c60b;
  font-size: 1.25em;
  text-decoration: none;
}

a:hover {
  font-family: "Computer", Courier New;
  color: #e4c921;
  font-size: 1.25em;
  text-decoration: none;
}

input,
label {
  font-size: 1.25em;
  background: transparent;
  border: none;
  font-family: "Computer", Courier New;
  color: #86c60b;
}

/* Change Autocomplete styles in Chrome */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #86c60b;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Change autofill background colour */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #121212 inset !important;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #121212;
  background-image: url(/images/Bg_trans.png?7d69311974b0b3867ee3723383c88f55);
  background-repeat: repeat;
  opacity: 0.9;
  position: relative;
  z-index: 9999;
  height: 100%;
}

body {
  font-family: "Computer", Courier New;
  text-shadow: 0 0 5px rgba(134, 198, 11, 0.6);
  color: #86c60b;
}

.a-box {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 200vh;
}

.a-line {
  background-image: url(/images/Bg_trans.png?7d69311974b0b3867ee3723383c88f55);
  background-repeat: repeat;
  height: 10px;
  opacity: 0.1;
  top: 0;
  -webkit-filter: drop-shadow(0px 0px 10px #97c51d);
          filter: drop-shadow(0px 0px 10px #97c51d);
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.grow-one {
  flex-grow: 1;
}

.grow-two {
  flex-grow: 2;
}

.grow-three {
  flex-grow: 3;
}

.text-underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.text-alert {
  color: #e4c921;
}

.text-justify {
  text-align: justify;
}

.container {
  height: 100vh;
  padding: 1rem;
}

